<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<targets async="true">
                <target name="webHostApplicationLog"
                    xsi:type="File"
                    layout="${message}"
                    fileName="C:\logs\application\ArchiveDiscardKeepFileOpenConcurrentWrites.txt"
                    archiveFileName="c:\logs\application\archive\ArchiveDiscardKeepFileOpenConcurrentWrites.{########}.txt"
                    encoding="iso-8859-2"
                    archiveNumbering="Rolling"    
                    maxArchiveFiles="5" 
                    archiveAboveSize="1073741824"   
                    archiveEvery="Day"
                    concurrentWrites="true"       
                    keepFileOpen="true"           
                    autoflush="false"             
                    bufferSize="1048576"            
                />
            <!--</target>-->
    </targets>

    <rules>
            <logger name="*" minlevel="Debug" writeTo="webHostApplicationLog" />
    </rules>

</nlog>