<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<targets>
            <target name="AsyncFileWebHostApplicationLog" 
                  type="AsyncWrapper"                       
                  overflowAction="Discard"                    
          queueLimit="100000"                     
          batchSize="100"                          
                  timeToSleepBetweenBatches="50"             
            >
        <target name="applicationLog"
          xsi:type="File"
          layout="${message}"
          fileName="C:\logs\application\Q100kB100ArchiveDiscardAutoFlushConcurrentWrites.txt"
          archiveFileName="c:\logs\application\archive\Q100kB100ArchiveDiscardAutoFlushConcurrentWrites.{########}.txt"
            encoding="iso-8859-2"
            archiveNumbering="Rolling"    
            maxArchiveFiles="5" 
            archiveAboveSize="1073741824"   
            archiveEvery="Day"
            concurrentWrites="true"       
            keepFileOpen="false"           
            autoflush="true"             
            bufferSize="1048576"                      
          />
           </target>
  </targets>
  <rules>
    <logger name="*"
			minlevel="Debug"
			writeTo="AsyncFileWebHostApplicationLog" />
  </rules>    
</nlog>