<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
        <target name="applicationLog"
          xsi:type="File"
          layout="${message}"
          fileName="C:\logs\application\_ArchiveDiscardAutoFlushConcurrentWritesImplicit.txt"
          archiveFileName="c:\logs\application\archive\_ArchiveDiscardAutoFlushConcurrentWritesImplicit.{########}.txt"
          encoding="iso-8859-2"
          archiveAboveSize="1073741824"
          archiveNumbering="Rolling"
          archiveEvery="Day"
          maxArchiveFiles="5"/>
    </targets>
    <rules>
        <logger name="*"
            minlevel="Debug"
            writeTo="applicationLog" />
    </rules>    
</nlog>