<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        internalLogFile="C:\Temp\Log\NLogPerformance_Internal.txt" internalLogLevel="Off" throwExceptions="true"
        >
    <targets>
      <target name="NullWithoutFormat" type="Null" formatMessage="false" OptimizeBufferReuse="true" />
      <target name="NullWithSimpleFormat" type="Null" formatMessage="true" layout="${message}${exception:format=tostring}" OptimizeBufferReuse="true" />
      <target name="NullWithFullFormat" type="Null" formatMessage="true" layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${exception:format=tostring}" OptimizeBufferReuse="true" />
      <target name="AsyncFile" type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
        <target name="SyncFile" type="File" fileName="C:\Temp\Log\NLogPerformance-${date:universalTime=true:format=yyyy}.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${exception:format=tostring}" />
      </target>
      <target name="AsyncFilePerf" type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
        <target name="SyncFilePerf" type="File" fileName="C:\Temp\Log\NLogPerformancePerf.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${message}" />
      </target>
      <target name="AsyncFilePerfArchive" type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
        <target name="SyncFilePerfArchive" type="File" fileName="C:\Temp\Log\NLogPerformanceArchivePerf.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${message}" ArchiveAboveSize="100000000000" MaxArchiveFiles="1000" ArchiveEvery="Year" ArchiveNumbering="Date" />
      </target>
      <target name="AsyncFileSimple" type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
        <target name="SyncFileSimple" type="File" fileName="C:\Temp\Log\NLogPerformanceSimple-${date:universalTime=true:format=yyyy}.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${longdate} ${level:uppercase=true} ${logger} - ${message}${exception:format=tostring}" />
      </target>
      <target name="AsyncFileLevelTrace" type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
        <target name="SyncFileSimpleTrace" type="File" fileName="C:\Temp\Log\NLogPerformanceSimple-Trace.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${longdate} ${level:uppercase=true} ${logger} - ${message}${exception:format=tostring}" />
      </target>
      <target name="AsyncFileLevelDebug" type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
        <target name="SyncFileSimpleDebug" type="File" fileName="C:\Temp\Log\NLogPerformanceSimple-Debug.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${longdate} ${level:uppercase=true} ${logger} - ${message}${exception:format=tostring}" />
      </target>
      <target name="AsyncFileLevelInfo" type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
        <target name="SyncFileSimpleInfo" type="File" fileName="C:\Temp\Log\NLogPerformanceSimple-Info.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${longdate} ${level:uppercase=true} ${logger} - ${message}${exception:format=tostring}" />
      </target>
      <target name="AsyncFileLevelWarn" type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
        <target name="SyncFileSimpleWarn" type="File" fileName="C:\Temp\Log\NLogPerformanceSimple-Warn.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${longdate} ${level:uppercase=true} ${logger} - ${message}${exception:format=tostring}" />
      </target>
      <target name="AsyncFileLevelError" type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
        <target name="SyncFileSimpleError" type="File" fileName="C:\Temp\Log\NLogPerformanceSimple-Error.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${longdate} ${level:uppercase=true} ${logger} - ${message}${exception:format=tostring}" />
      </target>
      <target name="AsyncFileLevelFatal" type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
        <target name="SyncFileSimpleFatal" type="File" fileName="C:\Temp\Log\NLogPerformanceSimple-Fatal.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${longdate} ${level:uppercase=true} ${logger} - ${message}${exception:format=tostring}" />
      </target>
      <target name="MultiFile" type="RoundRobinGroup">
        <target type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
          <target type="File" fileName="C:\Temp\Log\NLogPerformanceMulti0.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${exception:format=tostring}"  />
        </target>
        <target type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
          <target type="File" fileName="C:\Temp\Log\NLogPerformanceMulti1.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${exception:format=tostring}"  />
        </target>
        <target type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
          <target type="File" fileName="C:\Temp\Log\NLogPerformanceMulti2.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${exception:format=tostring}"  />
        </target>
        <target type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
          <target type="File" fileName="C:\Temp\Log\NLogPerformanceMulti3.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${exception:format=tostring}"  />
        </target>
        <target type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
          <target type="File" fileName="C:\Temp\Log\NLogPerformanceMulti4.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${exception:format=tostring}"  />
        </target>
        <target type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
          <target type="File" fileName="C:\Temp\Log\NLogPerformanceMulti5.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${exception:format=tostring}"  />
        </target>
        <target type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
          <target type="File" fileName="C:\Temp\Log\NLogPerformanceMulti6.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${exception:format=tostring}"  />
        </target>
        <target type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
          <target type="File" fileName="C:\Temp\Log\NLogPerformanceMulti7.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${exception:format=tostring}"  />
        </target>
        <target type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
          <target type="File" fileName="C:\Temp\Log\NLogPerformanceMulti8.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${exception:format=tostring}"  />
        </target>
        <target type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
          <target type="File" fileName="C:\Temp\Log\NLogPerformanceMulti9.txt" autoFlush="false" keepFileOpen="true" concurrentWrites="false" layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${exception:format=tostring}"  />
        </target>
      </target>
    </targets>

    <rules>
      <logger name="NullLogger*" minLevel="Trace" writeTo="NullWithoutFormat" />
      <logger name="Logger*" minlevel="Trace" writeTo="AsyncFile" />
      <logger name="MultiLogger*" minlevel="Trace" writeTo="MultiFile" />
      <logger name="SyncLogger*" minlevel="Trace" writeTo="SyncFile" />
      <logger name="PerfLogger*" minlevel="Trace" writeTo="AsyncFilePerf" />
      <logger name="PerfSyncLogger*" minlevel="Trace" writeTo="SyncFilePerf" />
      <logger name="PerfArchiveLogger*" minlevel="Trace" writeTo="SyncFilePerfArchive" />
      <logger name="SimpleLogger*" minlevel="Trace" writeTo="AsyncFileSimple" />
      <logger name="SimpleLevel*" level="Trace" writeTo="AsyncFileLevelTrace" />
      <logger name="SimpleLevel*" level="Debug" writeTo="AsyncFileLevelDebug" />
      <logger name="SimpleLevel*" level="Info" writeTo="AsyncFileLevelInfo" />
      <logger name="SimpleLevel*" level="Warn" writeTo="AsyncFileLevelWarn" />
      <logger name="SimpleLevel*" level="Error" writeTo="AsyncFileLevelError" />
      <logger name="SimpleLevel*" level="Fatal" writeTo="AsyncFileLevelFatal" />
      <logger name="SimpleSyncLogger*" minlevel="Trace" writeTo="SyncFileSimple" />
    </rules>
  </nlog>

</configuration>