<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <nlog xmlns="http://nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        internalLogFile="C:\Temp\Log\NLogPerformance_Internal.txt" internalLogLevel="Off" throwExceptions="true"
        >
    <targets>
      <target name="NullWithoutFormat" type="Null" formatMessage="false" />
      <target name="NullWithSimpleFormat" type="Null" formatMessage="true" layout="${message}${onexception:${newline}${exception:format=tostring}}" />
      <target name="NullWithFullFormat" type="Null" formatMessage="true" layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${onexception:${newline}${exception:format=tostring}}" />
      <target name="File" type="File" fileName="C:\Temp\Log\NLogPerformance.txt" autoFlush="false" keepFileOpen="true" layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${onexception:${newline}${exception:format=tostring}}" />
      <target name="AsyncFile" type="AsyncWrapper" overflowAction="Block" queueLimit="1000000" batchSize="1000" timeToSleepBetweenBatches="0">
        <target name="File" type="File" fileName="C:\Temp\Log\NLogPerformance.txt" autoFlush="false" keepFileOpen="true" layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${onexception:${newline}${exception:format=tostring}}" />
      </target>
    </targets>
    
    <rules>
      <logger name="*" minlevel="Trace" writeTo="AsyncFile" />
    </rules>
  </nlog>

</configuration>